[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
huggingface-hub = "*"
langchain = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
pypdf = "*"
streamlit = "*"
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
speechrecognition = "*"

[dev-packages]

[requires]
python_version = "3.12"
